*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html{
    scroll-behavior: smooth;
}

.navbar-logo{
    width: 150px;
    height: 90px;
}
.nav-list-item{
    padding-left: 20px;
    padding-right:20px;
    font-size: 20px;
    color: black;
}
.nav-list-item:hover{
   background-color: rgb(81, 252, 101);
   color: white;
   transition: 1s;
}

.first-background-heading{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 70px;
    color: white;
    padding: 250px;
    padding-bottom: 100px;

}
.third-background-heading{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 70px;
    color: white;
    padding: 250px;
    padding-bottom: 100px;
    padding-top: 150px;

}
.first-background{
    background-image: url("images/first-background1.jpg");
    background-size: cover;
    background-blend-mode: darken #333333;
    width: 100vw;
    height: 90%;
}
.third-background{
    background-image: url("images/second-background2.jpg");
    background-size: cover;
    background-blend-mode: darken #333333;
    width: 100vw;
    height: 70%;
}
.second-section-img{
    width: 401px;
    height: 323px;
}
.second-section{
    display: flex;
    margin: 80px;
    margin-top: 40px;
    border-style: solid;
    border-width: 0px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-color: white;
    
}
.second-section:hover{
    border-color: rgb(85, 255, 85);
    border-radius: 5px;
}
.second-section-content-heading{
    font-size: 25px;
    padding: 10px;
}
.second-section-para{
    padding: 10px;
}
.second-section-content{
    padding: 10px;
}
.second-section-label{
    text-align: center;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 80px;

}
.methods-img{
    width: 445px;
    height: 270px;
}
.methods-heading{
    font-size: 25px;
    padding: 10px;
}
.methods-para{
    padding: 10px;
}
.methods-card{
    margin: 20px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 5px;
    border-color: white;
}
.methods-container{
    display: flex;
    margin: 50px;
}
.methods-card:hover{
    box-shadow: 0 4rem 8rem rgba(0,0,0,0.5);
    border-color: rgb(14, 225, 14);
    border-radius: 5px;
}

.product-heading{
    font-size: 26px;
    font-weight: bold;
    color: rgb(14, 225, 14) ;
    padding: 10px;
}
.product-para{
    font-size: 17px;
    color: #333333;
    padding: 10px;
}
.product-btn{
    border-style: solid;
    border-width: 0px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: rgb(14, 225, 14);
    color: black;
}
.product-img{
    width: 301px;
    height: 100%;
    padding: 21px;
}
.product-content{
    margin: 20px;
}
.product-card{
    display: flex;
    flex-direction: row;
   margin: 30px;
}
.product-container{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.input-box{
    display: flex;
    flex-direction: column;
}

.contact-input1{
    border-style: solid;
    border-width: 0px;
    height: 60px;
    margin: 16px;
    background-color: rgb(222 255 255);
    border-radius: 12px;
    width: 400px;


}
.contact-input{
    border-style: solid;
    border-width: 0px;
    height: 100px;
    margin: 16px;
    background-color: rgb(222 255 255);
    border-radius: 12px;
}
.contact-btn{
    border-style: solid;
    border-width: 0px;
    background-color: aqua;
    color: black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin: 10px;
}
.contact-btn:hover{
    box-shadow: 0 4rem 8rem rgba(0,0,0,0.5);
    background-color: rgb(62, 255, 62);
    transition: 1s;
}
.icons-img{
    width: 40px;
    height: 40px;
    margin: 20px;
}

.icons-img:hover{
   /* box-shadow: 0 4rem 8rem rgba(0,0,0,0.5);*/
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 4px;
    border-style:solid ;
    border-width: 2px;
    transition: .5s;
}
.contact-heading{
    font-size: 26px;
    font-weight: bold;
    color: rgb(0, 0, 0);

}
.contact-img{
    width: 600px;
    height: 90%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.contact-card{
    display: flex;
    flex-direction: row;
    margin: 185px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    padding-left: 50px;
    margin-top: 0px;
}
.bg-contact-container{
    background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=1480&t=st=1676640168~exp=1676640768~hmac=66a5c8168184fcab980fa015f81170f2c2f0f4b878e3c22cb257ad993b4e7c57");
    background-size: cover;
    width: 100vw;
    height: 90vh;
    
}
.contact-content{
    padding: 30px;
}
@media  screen and (max-width:1350px){
    .methods-container{
        flex-direction: column;
        margin: 143px;
    }
    .methods-img{
        width: 100%;
    }
    .contact-img {
        width: 381px;
        height: 67%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}


@media screen and (max-width:700px){
    .second-section{
        flex-direction: column;
    }
    .methods-container{
        flex-direction: column;
    }
    .product-container{
        flex-direction: column;
    }
    .contact-card{
        flex-direction: column;
    }
    .product-card{
        flex-direction: column-reverse;
    }
    .first-background-heading {
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: 37px;
        color: white;
        padding: 105px;
        padding-bottom: 36px;
    padding-left: 66px;
    }
    .second-section {
       
        margin: 14px;
        margin-top: 40px;
        
        
    }
    .second-section-label{
       font-size: 25px;
        padding-top: 40px;
        
    }
    
.second-section-label {
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30px;
}
.second-section-img {
    width: 90vw;
    height: 175px;
}
.section-para {
    padding: 10px;
}
.third-background-heading {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 27px;
    color: white;
    padding: 41px;
    padding-bottom: 100px;
    padding-top: 38px;
}
.methods-img {
    width: 100%;
    height: 152px;
}
.methods-container {
    
    margin: 17px;
}
.product-img {
    width: 100%;
    height: 100%;
    padding: 0px;
}
.product-card {
    margin: 11px;
}
.bg-contact-container {
    width: 100vw;
    height: 110vh;
}
.contact-img {
    width: 266px;
    height: 90%;
  
}
.contact-input1 {
    width: 100%;
}
.contact-input {
    width: 100%;
}
.icons-img {
    width: 49px;
    height: 40px;
    margin: 20px;
}
.contact-card {
    margin: 9px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin-top: 0px;
}
.contact-content {
    padding: 7px;
}
.navbar-logo {
    width: 88px;
    height: 70px;
}
.methods-card{
    margin: 7px;
    margin-top: 15px;
}
}

.footer-down{
    padding: 30px;
    padding-top: 50px;
    text-align: center;
}
.footer-card{
    padding: 10px;
}
.footer-icons{
    font-size: 32px;
    color: rgb(61, 255, 61);
    padding: 10px;
}
.footer-navigation-heading{
    font-size: 20px;
    color: rgb(43, 43, 43);
    padding-top: 20px;
}
.footer-navigation{
    color: #a0a0a0;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 3px;
    border-color: white;
}
.footer-navigation:hover{
    color: black;
    
    text-decoration: none;
    transition: .5s;
    border-color: rgb(61, 255, 61);
}
